@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<h1> DISEASE PAGE </h1>